
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0
}
body{
  width: 100%;
  min-height: 100vh;
  border-radius: 25px;
}
.popup{
  width: 300px;
  padding: 24px 24px 32px 24px;
  box-shadow: 0px 4px 20px 0px #0000001A;
  height: 439px;
  border-radius: 25px;
}
.top{
  display: flex;
  gap: 80px;
  align-items: center;
}
.top div{
  display: flex;
  gap: 20px;
}
.top button{
  background: transparent;
}

.text{
  color: #413C6D;
font-family: Work Sans;
font-size: 14px;
text-align: left;
width: 82%;
margin-top: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.record{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.rcd{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.rcd button{
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
button p{
  color:  #928FAB;
font-family: Work Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


/* CSS for switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hiding the default checkbox*/
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .3s;
  transition: .3s;
}
  /* Before sliding */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color:#120B48;
}

input:focus + .slider {
  box-shadow: 0 0 1px #564311;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}	
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.cam, .audio{
  display: flex;
  gap: 90px;
  width: 252px;
padding:  12px 12px 12px 16px;
justify-content: space-between;
border-radius:  12px;
border: 1px solid #100A42;
align-items: center;
  align-items: center;
}
.cam p, .audio p{
font-family: Work Sans;
font-size: 14px;
font-style: normal;
color: #100A42;
font-weight: 500;
line-height: normal;
}
.span-cam, .span-audio{
  display: flex;
  align-items: center;
  gap: 20px;
}
.rcd-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.rcd-btn button{
  width: 252px;
height: 51px;
background-color: #120B48;
color: #FAFDFF;
border-radius: 12px;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.my-div{
  display: flex;
padding: 12px 40px 12px 16px;
background-color: #000000;
justify-content: center;
position: fixed;
width: 551px;
height: 86px;
border-radius: 60px;
bottom: 0;
gap: 10px;
align-items: center;
gap: 8px;
}
.my-div button{
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
}
hr{
  border: 1px solid #ffffff;
  height: 60%;
}